@import url('https://fonts.googleapis.com/css?family=Cabin|Raleway:300,400,700,900');
body
{
    font-family: 'Raleway', sans-serif;
}
h1{
font-family: 'Cabin', sans-serif;
font-weight: 300;
}
h2{
font-family: 'Cabin', sans-serif;
font-weight: 400;
}
h3{
font-family: 'Cabin', sans-serif;
font-weight: 400;
}
figure{
	font-family: 'Raleway', sans-serif;
	font-variant: italic;
	font-size: .8rem
}
button{
	font-family: Cabin;
	font-weight: 900;
	background-color: #ffffff;
	border:1px #666 solid;
	/*min-height: 44px;*/
}
.friend{
	text-align:center;
}
.app-panel{max-width:400px;}
.center{
	width:100%;
	text-align:center;
	justify-content: center;
}
.center h1{width:100%;}
.right{float: right;}
.connectButton{
	position:fixed;
	bottom:40px;
}
.map{
	overflow-x: scroll;
	overflow-y: scroll;
	width:411px;
	height: 731px;
}
#timer{
	text-align:right;
	float:right;
	margin-right:20px;
}
#timerRow{
	width:411px;
	height:44px;
	position:fixed;
	top:0;
	z-index:2;
	background-color: #ffffff;
}
#friendStaging{
	height:0;
}
#friendStaging img, #friendStaging div {
	position:absolute;
}
#mapPlus{position:relative;overflow:scroll;width:411px;}
#map img {position:absolute;}
#map {overflow: hidden;}
.fDetail{height:50px;width:100px;background-color: #ffffff;text-align: center;padding-top:.8em;display: none;}
#f0{width:25px;height:25px;    top: 490px;
    left: 104px;
}
#f0Detail{    top: 490px;
    left: 104px;
}
#f1{width:25px;height:25px;    top: 50px;
    left: 40px;}
#f1Detail{    top: 50px;
    left: 40px;}
#f2{width:25px;height:25px;    top: 320px;
    left: 90px;}
/*add 10, add 65*/
#f2Detail{    top: 320px;
    left: 90px;}
#f3{width:25px;height:25px;    top: 210px;
    left: 63px;}
#f3Detail{    top: 210px;
    left: 63px;}
#f4{width:25px;height:25px;top:60px;left:2060px;}
#f4Detail{ top: -4660px; left: 212px;}
#f5{width:25px;height:25px;    top: 280px;
    left: 259px;}
#f5Detail{    top: 280px;
    left: 259px;}
#f6{width:25px;height:25px;    top: 60px;
    left: 3060px;}
#f6Detail{     top: -1137px;
    left: 3060px;}
#f7{width:25px;height:25px;    top: 60px;
    left: 175px;
}
#f7Detail{    top: 60px;
    left: 175px;;}
#f8{width:25px;height:25px;    top: 730px;
    left: 337px;}
#f8Detail{    top: 730px;
    left: 337px;}
#f9{width:25px;height:25px;top: 60px;
    left: 339px;}
#f9Detail{top: 60px;
    left: 339px;}
#f10{width:25px;height:25px;    top: 730px;
    left: 22px;}
#f10Detail{    top: 730px;
    left: 22px;}
#f11{width:25px;height:25px;     top: 620px;
    left: 323px;}
#f11Detail{    top: 620px;
    left: 323px;}
#f12{width:25px;height:25px;top:60px;left:3060px;}
#f12Detail{top:-232px;left:300px;}
#meeting{    top: 389px;
    left: 340px;}
#newMeeting{
	width: 411px;
	height:0px;
	transition: height 1s ease-in-out;
	position:fixed;
	bottom:0px;
	margin-left:"-15px";
	background-color: #ffffff;
}
#proposeTime{
	position:absolute;
	top:0;
    width: 411px;
    height: 714px;
	background-color: rgba(0,0,0,0.2);
	z-index:4;
	display:none;
}
#timePanel{
	display:block;
	position:relative;
	left:80px;
	top:244px;
	z-index:5;
	width:250px;
	height:170px;
	background-color: #ffffff;
	padding:20px;
}
#timerControls input{
	width:40px;
	margin-left:81px;
}
#timePanel button{
	margin-top:20px;
}
#timePanel button:last-of-type{
	float:right;
}